@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(188,235,137);
    background: linear-gradient(90deg, rgba(188,235,137,1) 0%, rgba(64,188,148,1) 50%, rgba(188,235,137,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    background: transparent;
    position: absolute;
    font-size: 2.2vh;
    top: 0;
}

.logo {
    font-size: 1.25em;
    font-weight: 600;
    padding-left: 3vw;
    padding-top: 1.8vh;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 3vw;
    align-self: flex-end;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

nav ul li {
    animation: navout 0.5s forwards;
}

nav ul li:hover {
    animation: navin 0.5s forwards;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 15vh;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin-bottom: -0vh;
    background: rgb(95, 155, 164);
    background: linear-gradient(90deg, rgb(83, 190, 209) 0%, rgb(99, 159, 223) 50%, rgba(83, 190, 209) 100%);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.023em #264059;
}

p span a {
    color: inherit;
    text-decoration: none;
    -webkit-text-stroke: 0.027em #2582de;
    font-weight: 600;
    font-size: 1.1em;
}

.logo a {
    text-decoration: none;
    color: black;
}

.description {

    margin-top: 0%;
    font-size: 3.8vh;
    color: #f3c074;
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 400;
}

.subtext {

    margin-top: -1vh;
    margin-bottom: 2vh;
    font-size: 3.2vh;
    color: grey;

}

.subtext span {
    color: #9fc8ef;
}

.credits {

    position: absolute;
    bottom: 0;

}

.credits p {
    font-weight: 600;
}

#nick {

    font-size: 2.3vh;

}

button {
    padding: 13px 40px;
    font-size: 1.7em;
    cursor: pointer;
    margin-top: 1vh;
    margin-bottom: 2vh;
    background: #add8e6;
    border: 0.4vh solid #6fb7ff;
    border-radius: 10px;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    position: relative;
    animation: buttonout 0.6s forwards;
}

button:hover {
    animation: buttonscale 0.6s forwards;
}

@keyframes buttonscale {
    from {
        transform: scale(1);
        background: #add8e6;
        border: 0.4vh solid #6fb7ff;
        box-shadow: none;
    }
    to {
        transform: scale(1.13);
        background: #a0c6ea;
        border: 0.45vh solid #5eaeff;
        box-shadow: 0 0 25px rgba(73, 164, 255, 0.7);

    }
}

@keyframes buttonout {

    from {
        transform: scale(1.13);
        background: #a0c6ea;
        border: 0.45vh solid #5eaeff;
        box-shadow: 0 0 25px rgba(73, 164, 255, 0.7);
    }
    to {
        transform: scale(1);
        background: #add8e6;
        border: 0.4vh solid #6fb7ff;
        box-shadow: none;
    }

}

@keyframes navin {

    from {
        transform: scale(1);
        font-weight: 400;
    }
    to {
        transform: scale(1.1);
        font-weight: 500;
    }

}

@keyframes navout {
    
    from {
        transform: scale(1.1);
        font-weight: 500;
    }
    to {
        transform: scale(1);
        font-weight: 400;
    }
}